<a href="https://colab.research.google.com/github/lionelalexandre/ConquestTest/blob/master/S2_TD1_python_notebook_en_teacher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <span style="color:blue"> <center>Teacher / TD1 : 4TPU279U $-$ Bachelor 1st year $-$ spring 2023</center></span>
# <center>Introduction to python programming</center>
# <hr style="border:1px solid black"><center>  The basics </center><hr style="border:1px solid black">
</br>

*This notebook has been prepared using various materials, the main reference being "How to Think Like a Computer Scientist" learning with python available on-line [here](http://www.openbookproject.net/thinkcs/archive/python/thinkcspy3e_abandoned/index.html)*

</br>
<div style="text-align: right"> Credits: R. Boisgard, L. Truflandier, Philippe Paillou, Julien Burgin, Sara Zein, Leo Delmarre, Simon Villain-Guillot </div>

The goal of this first session is to familiarize with basic programming using the `python` language.
As a result there are two main points : access to the programming basics and get use of formal language such as `python`. 

In all the languages there are rules to respect in order to communicate and understand each other. In natural language (speak/write) this rules can evolved. When they are not respected (spelling mistakes or lack of pronunciation) we tend to interpret the message. Formal languages are designed for specific applications and generally possess stricter syntax. Mathematics, physics, and chemistry have all a formal syntax. The formal syntax may also have some variants but a positive outcome for an interpretation of a deffective formal syntax is much more reduced compare to natural language. Python is qualified as to high-level interpreted language which allows for manipulate abstract objects. Nevertheless, a strict syntax must be respected in order to avoid the commonly found `syntax eror`. 

A program is a sequence of statements or instructions which follows a *logic* order. Program are written to perform some computations or/and process some data. Programming and mathematics have a strong link through the notion of algorithm. Algorithms constitute the core of a program. They are build from basics constructs which will be described latter in this document. From an *input*, they proceed through a finite set of instructions to deliver an *output*. 

The following topics will be cover in this notebook:

0. Installation of python
1. Try the console! 
2. Basic types, assignment and operators
3. Sequence types
4. Basic constructs

## <hr style="border:1px solid black">  Installation of python  <hr style="border:1px solid black">

Depending on your OS [<sup>1</sup>](#fn1) (LINUX/MacOSX/Windows) there exists several ways of installing python packages. For this course we recommend the [Anaconda](https://www.anaconda.com/products/distribution) distribution which is free, easy to install and contains the essential libraries.

<span id="fn1"> $^1$ Operating system.</span>

</br>

## <hr style="border:1px solid black"> Try the console ! <hr style="border:1px solid black">

You need basically a Console. Several possibilities:

1. It can be provided by a simple LINUX terminal:
 * Open a terminal and type `python` and push `enter`
 * A message giving python version and provider should appear ; something like:
 
     `Python 3.8.5 (default, Sep  4 2020, 02:22:02) 
     [Clang 10.0.0 ] :: Anaconda, Inc. on darwin
     Type "help", "copyright", "credits" or "license" for more information.`

 and the symbol `>>>` indicating that python is ready for instruction
 
 
2. A `IPython` console provided for instance by an IDE [<sup>1</sup>](#fn1) like [Spyder](https://www.spyder-ide.org)


3. A `Jupyter notebook` like the file you are currently using which does countain `Cells`
which are either:
 * `Code` to code in python ; see [Python for beginners](https://wiki.python.org/moin/BeginnersGuide)
 * `Markdown` formated text ; see [Markdown for beginners](https://www.markdownguide.org)
 * `Raw NBConvert` which is just simple raw text in ASCII.

Do not hesitate to visit the beginner links, but we think that this document will be sufficient
for a good introduction to python

<span id="fn1"> $^1$ Integrated Development Environment (software).</span>

In [ ]:
3*6

18

In [ ]:
5+4

9

In [ ]:
5-14

-9

In [ ]:
3/9

0.3333333333333333

## <hr style="border:1px solid black"> Python syntax <hr style="border:1px solid black">

## <hr style="border:1px solid black"> Basic types, assignment and operators <hr style="border:1px solid black">

#### Assignment : variable types are defined by the assignment

> $a\in\mathbb{Z}$ ; $b\in\mathbb{R}$ ; $c$ is a string of characters ; $d\in\mathbb{B}$ ; $e\in\mathbb{C}$

In [ ]:
a = 1        # integer 
b = 5.4      # float
c = 'blabla' # string
d = True     # boolean 
e = 2+1.j    # complex

> the equal symbol is an assignment operator

> other assignment operator exist

In [ ]:
a += 1 
print(a)
b -= 1
print(b)
a *= 2 
print(a)
b /= 2
print(b)

2
4.4
4
2.2

#### Printing the type (the class indeed)

> below `print(message, value, type)` will print a character string *message* then what is contained in *value* and finally the *type of value*. The comma ',' is called separator.

In [ ]:
print('integer a = ', a, type(a))
print('float   b = ', b, type(b))
print('string  c = ', c, type(c))
print('boolean d = ', d, type(d))
print('complex e = ', e, type(e))

integer a =  4 <class 'int'>
float   b =  2.2 <class 'float'>
string  c =  blabla <class 'str'>
boolean d =  True <class 'bool'>
complex e =  (2+1j) <class 'complex'>

#### Distributed assignment

In [ ]:
a, b, c = 2, 7.45, 'toto'
print(a,type(a))
print(b,type(b))
print(c,type(c))

2 <class 'int'>
7.45 <class 'float'>
toto <class 'str'>

#### Basic (arithmetic) operators in $\mathbb{R}$ and $\mathbb{C}$ 

> addition (substraction): $c = x + y$  $(d = x - y)$

> multiplication (division): $e = x \times y $  $(f = x/y)$

> power: $g = x^y $   $(h = x^{-y})$

for $(x,y)\in\mathbb{R}$ we have:

In [ ]:
x = 1.0 ; y = 2.0
c = x + y
d = x - y
e = x * y
f = x / y
g = x ** y
print(x,y,c,d,e,f,g)

1.0 2.0 3.0 -1.0 2.0 0.5 1.0

for $(x,y)\in\mathbb{C}$ where $y=x^*$ we have:

In [ ]:
x = 1.0-2.0j ; y = 1.0+2.0j
c = x + y
d = x - y
e = x * y
f = x / y
g = x ** 10
print(x,y,c,d,e,f,g)

(1-2j) (1+2j) (2+0j) -4j (5+0j) (-0.6-0.8j) (237+3116j)

#### Arithmetic operator precedence (= priority)

> arithmetic operators have a priority which follows, from the highest precedence to the lowest:

> `power > multiplication (division) > addition (substraction)` 

For instance : $a^b\times c + d \Rightarrow$ $x^b$ is performd first, then $\times$ and $+$

> remark 1: operation enclosed in parentheses have the highest priority over all other operations

For instance : $a^b\times (c + d) \Rightarrow$ $x^b$ is performed first, then $+$, then $\times$

> remark 2: if two operator have the same priority, the operation should be performed from left to right

For instance : $a-b+c \Rightarrow$ $-$ is performed first, then $+$

##### Exercise 1.0 <hr style="border:1px solid grey">

> Compute : 

$$ s1=1+\cfrac{1}{2+\cfrac{1}{2+\cfrac{1}{2}}} $$


$$ s2=1+\cfrac{1}{ 2 + \cfrac{1}{ 2+ \cfrac{1}{2 + \cfrac{1}{2} } } } $$

<span style="color:red">**solution :**</span>

In [ ]:
s = 1 + 1/(2 + 1/(2 + (2 + 1/2)))
print(s)

1.45

In [ ]:

s1 = 1 + 1/(2 + 1/(2 + 1/2))
print(s1)

s2 = 1 + 1/(2 + 1/(2 + (2 + 1/2)))
print(s2)

1.4166666666666667
1.45

<hr style="border:1px solid grey">

##### Exercise 1.1 <hr style="border:1px solid grey">
> For $(x,y)\in\mathbb{C}$, shuch that $x=a+bi$ and $y=c+di$ show that x/y = z with

$$z= \frac{(ac+bd)+(bc-ad)i}{c^2+d^2}$$

> using for instance $x=1-2i$ and $y = 1+2i$
<hr style="border:1px solid grey">

In [ ]:
x = 1-2j ; y = 1+2j
a = x.real # extract real part of x
b = x.imag # extract imaginary part of x
c = y.real
d = y.imag
print(a,b,c,d)

1.0 -2.0 1.0 2.0

<span style="color:red">**solution :**</span>

In [ ]:
z = ((a*c + b*d) + (b*c - a*d)*1j)/(c**2 + d**2)
print(z)
print(x/y)

(-0.6-0.8j)
(-0.6-0.8j)

#### Remarks on integer divisions and modulo operator

> by default the *integer* division is converted to *float* division

for $(x,y)\in\mathbb{Z}$ where $y/x$ we have:

In [ ]:
x = 20
y = 7
print(x/y )          # float division
print(round(x/y,2))  # rounding

2.857142857142857
2.86

> the *whole part* and *remainder* can be accessed using special operators

In [ ]:
print(x//y) # floor division operator => whole part
print(x%y ) # modulo operator         => remainder

2
6

#### Basic operators in $\mathbb{B}$

> Boolean or logic operators are : 

> Conjunction: $x$ `and` $y$

> Disjunction: $x$ `or` $y$

> Negation: `not` $x$

for $(x,y)\in\mathbb{B}$ we have:

In [ ]:
x = True ; y = False
c = x and y
d = x or  y
e = not x
f = not y
print(c,d,e,f)

False True False True

##### Exercise 1.2 <hr style="border:1px solid grey">

> Using the boolean operators, verify the truth tables given below:

| x | y | `or` |    | x | y | `and`|   | x | y | `nor`| 
|---|---| :--: |    |---|---| :--: |   |---|---| :--: |
| T | T |  T   |    | T | T |  T   |   | T | T |  F   |
| T | F |  T   |    | T | F |  F   |   | T | F |  F   |
| F | T |  T   |    | F | T |  F   |   | F | T |  F   |
| F | F |  F   |    | F | F |  F   |   | F | F |  T   |
<hr style="border:1px solid grey">

<span style="color:red">**solution :**</span>

In [2]:
print(True  or True)
print(True  or False)
print(False or True)
print(False or False)

True
True
True
False

<hr style="border:1px solid grey">

#### Remarks on boolean using arithmetic operators

> if arithmetic operators are applied to boolean variables, the laters are converted to binary: $0$ (False) and $1$ (True) of integer type.

In [ ]:
x = True ; y = True
c = x + y
d = x - y
e = x * y
f = x / y
g = y ** x
print(type(d))
print(type(e))
print(x,y,c,d,e,f,g)

<class 'int'>
<class 'int'>
True True 2 0 1 1.0 (237+3116j)

#### Operators for character strings and operator overloading

> addition operator $\{+\}$ becomes the concatenate operator 

> multiplication operator $\{*\}$ becomes the repetition operator

In [ ]:
c1 = 'bla'
c2 = '-bli'
print(c1+c2)
print(c1*5)

bla-bli
blablablablabla

#### Comparison operators (also referred to as Relational operators)

> there exists 6 comparison operators described below

 
 | operator | description | example | allowed type |
 | :-:      | :-:         | :-:     | :-:           |
 | ==       | equal       | x == y  | $\mathbb{Z,R,C,B}$ and string |
 | !=       | not equal   | x != y  | $\mathbb{Z,R,C,B}$ and string |
 | >        | greater than| x > y   | $\mathbb{Z,R,B}$[<sup>1</sup>](#fn1) and string[<sup>2</sup>](#fn2) |
 | >=       | greater than or equal | x >= y   | $\mathbb{Z,R,B}$ and string |
 | <        | lower than  | x < y   | $\mathbb{Z,R,B}$ and string |
 | <=       | lower than or equal   | x <= y   | $\mathbb{Z,R,B}$ and string |

> these operators compare two values and return the boolean value `True` or `False`.

<span id="fn1"> $^1$ In case of boolean `True` and `False` are converted to 1 and 0 respectively.</span>
<span id="fn2"> $^2$ In case of characters string the operators (>,>=,<,<=) *compare* the length of the string not the characters!</span>

#### Casting or type conversion

> convert from one type to another is possible using:


 | function | description       | example        | allowed type | remark |
 | :-:      | :-:         | :-:     | :-:           | |
 | str()    | convert to string | str(240.25)    | all          | all alpha-numeric characters|
 | bool()   | convert to boolean| bool()         | all          | return `False` if empty variable, and `True` in all other cases|
 | complex()| convert to complex| complex(240.25)| $\mathbb{Z,R,B}$ and string | for $\mathbb{Z,R,B}$ imaginary part set to 0 |
 | float()  | convert to float  | float(240)     | $\mathbb{Z,R,B}$ and string |

In [ ]:
s1 = '240.25'     # s1 is a string
s2 = '240.25+2j'  # s2 is also a string
r1 =  240.25      # r1 is a float

print(float(s1),  type( float(s1)  ) )
print(complex(s2),type( complex(s2)) )
print(int(r1),    type( int(r1) ) )
print(bool(r1),   type( bool(r1)) )

i2 = 67 # i2 is an integer
s2 = '' # s2 i an empty string

print(bool(s2), type( bool(s2)) )
print(str(i2),  type( str(i2) ) )
print(float(i2),type( float(i2)))

240.25 <class 'float'>
(240.25+2j) <class 'complex'>
240 <class 'int'>
True <class 'bool'>
False <class 'bool'>
67 <class 'str'>
67.0 <class 'float'>

#### Distributed assignment

In [ ]:
a, b, c = 2, 7.45, 'toto'
print(a)
print(b)
print(c)
print(a,b,c)

2
7.45
toto
2 7.45 toto

## <hr style="border:1px solid black"> Sequence types <hr style="border:1px solid black">

### `List`

> A list is a sequence of elements ; you are free to mix types !

In [ ]:
L = [2,7.45,'blabla',True]
print(L, type(L))

[2, 7.45, 'blabla', True] <class 'list'>

> the length of a list, ie. the number of elements is given by

In [ ]:
len(L)

4

> create an empty list using $[]$

In [ ]:
M = []
print(M, type(M))

[] <class 'list'>

#### Accessing `list` elements

> elements are accessed by the index $i$ using square brackets.

> Since in python indexing starts from 0,
$L[i]$ is the $(i+1)^{\mathrm{th}}$ element of the list $L$.

In [ ]:
print(L[0], L[1], L[2])

2 7.45 blabla

> the last element can be accessed by index -1

In [ ]:
print(L[-1])

True

> remark: a characters string is a list !

In [ ]:
words = 'Hello_world'
index = '012345678910'

print(words)
print(index)

print(words[4])     # access the 5th element 
print(words[4:])    # access from 5th to the last element
print(words[:5])    # access from 0 to 5th (excluded)
print(words[2:8:1]) # access from 2 to 8th (excluded) with step size 1 
print(words[2:8:2]) # access from 2 to 8th (excluded) with step size 2

Hello_world
012345678910
o
o_world
Hello
llo_wo
low

#### Operating on a `list`

In [ ]:
L1 = [1, 6,'toto']
L2 = [3.14,'titi',23]
L3 = L1[1:] + L2
print(L3)
L4 = L1*4
print(L4)

[6, 'toto', 3.14, 'titi', 23]
[1, 6, 'toto', 1, 6, 'toto', 1, 6, 'toto', 1, 6, 'toto']

#### Mutable operations using `list` build-in functions

> These operations modify the list and they are part. They are part of the `list` class attributes.

In [ ]:
L = []

> `list.append(x)`

In [ ]:
L.append(1)
L.append('h')
L.append(6.626e-34)
L.append(False)
L.append(2+1.j)
print(L)

[1, 'h', 6.626e-34, False, (2+1j)]

> `list.extend()` or `+` operator overloading

In [ ]:
L.extend(['m0',9.109e-31])
print(L)

[1, 'h', 6.626e-34, False, (2+1j), 'm0', 9.109e-31]

In [ ]:
L = L + ['qe',1.602e-19]
print(L)

[1, 'h', 6.626e-34, False, (2+1j), 'm0', 9.109e-31, 'qe', 1.602e-19]

 > `list.insert(i, x)`

In [ ]:
L.insert(2,'hbar')
print(L)

[1, 'h', 'hbar', 6.626e-34, False, (2+1j), 'm0', 9.109e-31, 'qe', 1.602e-19]

> `list.remove(x)`

In [ ]:
L.remove('qe')
print(L)

[1, 'h', 'hbar', 6.626e-34, False, (2+1j), 'm0', 9.109e-31, 1.602e-19]

 > `list.pop()`

In [ ]:
toto = L.pop(0)
print(toto)
print(L)

toto = L.pop()
print(toto)
print(L)

1
['h', 'hbar', 6.626e-34, False, (2+1j), 'm0', 9.109e-31, 1.602e-19]
1.602e-19
['h', 'hbar', 6.626e-34, False, (2+1j), 'm0', 9.109e-31]

> `list.sort()` ; can be applied only on uniform list, that is with all the elements of same type $(\mathbb{Z,R,B})$ and string

In [ ]:
L = [1,8,5,-9]
L.sort()
print(L)

[-9, 1, 5, 8]

> `list.reverse()`

In [ ]:
L = [1, 'hbar', 6.626e-34, False, (2+1j), 4, 'm0']
L.reverse()
print(L)

['m0', 4, (2+1j), False, 6.626e-34, 'hbar', 1]

##### Exercise 1.3 <hr style="border:1px solid grey">
> Try to understand what are the rules used by `list.sort()` when operating on a list of strings. Example is given below:

In [ ]:
L = ['abd', 'abc', 'h', 'bcde', '1ed']
L.sort()
print(L)

['1ed', 'abc', 'abd', 'bcde', 'h']

<hr style="border:1px solid grey">

#### Ummutable operations using list external functions

> These functions are used to search/process/interrogate the elements of a list. 
Some of them are attributes of the `list`class, others are `Python` build-in functions.

 > `sorted(list)`

In [ ]:
L = [1,8,5,-9]
K = sorted(L)
print(L)
print(K)

[1, 8, 5, -9]
[-9, 1, 5, 8]

> `min(list)` / `max(list)` / `sum(list)`

In [ ]:
print(min(L))
print(max(L))
print(sum(L))

-9
8
5

> `list.index()`

In [ ]:
L = [1, 'hbar', 6.626e-34, False, (2+1j), 4, 'm0']
print(L.index('hbar'))
print(L.index(False))

1
3

> `in`: to test if an element is in the list

In [ ]:
print('hbar' in L)
print(6.627e-34 in L)

True
False

> `list.count(x)`

In [ ]:
L = [1,2,3,5,2,4,89,1,1,2,2]
print(L.count(1))
print(L.count(2))

3
4

#### Function `range`

> range($n_{inf}$, $n_{sup}$, $\sigma$) with $\sigma$ the step and $(n_{inf},n_{sup},\sigma)\in\mathbb{Z}$

> create a `list` of integers $n\in[n_{inf},n_{sup}[$
such that $n=\{n_{inf},\;n_{inf}+\sigma,\;n_{inf}+2\sigma,...\}$

> it stops before $n_{sup}$ !

In [ ]:
L = range(10)
print(L)
print(list(L))

L = range(1,10,1)
print(L)
print(list(L))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
L = range(4,119,4)
print(list(L))

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116]

#### Tuples

> A tuple is a sequence of elements which are write-protected

In [ ]:
T = (2,8.67,'toto')
print(T, type(T))
print(T[2])

S = (True,'titi',3+2j)
R = S + T
print(R)

(2, 8.67, 'toto') <class 'tuple'>
toto
(True, 'titi', (3+2j), 2, 8.67, 'toto')

> a distributed assignment is a tuple

In [ ]:
a, b, c = 2, 7.45, 'toto'
print(a)
print(b)
print(c)

T = a, b, c
print(T)
print(type(T))

2
7.45
toto
(2, 7.45, 'toto')
<class 'tuple'>

##### Exercice 1.4 <hr style="border:1px solid grey">

1. Create 2 list ranging from 0 to 5 and 6 to 9, that is: $v=[0,1,2,...,5]$ and $w=[6,7,8,9]$ 
1. From $v$ and $w$ create a unique list containing the firsts 9 integers, that is : $x=[0,1,2,...,9]$
1. Add 10 to the end of list, that is: $x=[0,1,2,...,9,10]$
1. Remove the last element from the list, that is : $x=[0,1,2,...9]$ 
1. Move the last element to first position : $x=[9,0,1,2,...8]$

<span style="color:red">**solution :**</span>

In [ ]:
v = list(range(0,6 ))
print(v)

w = list(range(6,10))
print(w) 

x = v + w
print(x)

x.append(10)
print(x)

x.remove(10)
print(x)

x.insert(0,x.pop(-1))
print(x)

[0, 1, 2, 3, 4, 5]
[6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 0, 1, 2, 3, 4, 5, 6, 7, 8]

<hr style="border:1px solid grey">

## <hr style="border:1px solid black">  Basic constructs <hr style="border:1px solid black">

> Programming languages should follow some structure which are defined by 3 basic [control structures:](https://en.wikipedia.org/wiki/Structured_programming)

#### ***Sequence*** : 

ordered statements (or subroutines) executed in sequence. In the example below, each line countains 1 statement.

In [ ]:
x1 = 3       # statement A
y1 = 4       # statement B
z1 = x1 + y1 # statement C

`statement C` depends upon `statement A` and `statement B`, then it should be written
at the end. Note that, in this case, the order of `statement A` and `statement B` is inconsequent. Statements can also by
written on a same line using the separator symbol `;`

In [ ]:
x2 = 3 ; y2 = 4 ; z2 = x2 + y2

Note again that here, statements should follow an order since last statement on the line depends upon the firsts 2.

#### ***Selection*** : 

one or a number of statements is executed depending on the state of the program. This is managed by the `if():...else:` decision structure described below by an example:

In [ ]:
# assign a value to the number to be tested
a = 4

# compute the remainder of the integer division num/2
modulo = a%2

# Test weither or not the remainder is 0 and decide
if ( modulo == 0 ):
    print('a is even')
else:
    print('a is odd' )

a is even

In python, the **condition** which involves **comparison** (and/or **boolean**) operators is written in between the parenthesis. The `if`and `else` statements are terminated by a colon symbol `:`. Importantly, statements related to the *decision* **must be** indented! The `if():...else:` decision structure can have several exit points.

In [ ]:
# assign a value to the number to be tested
a = 4.5

# compute the remainder of the integer division a/2
modulo = a%2

# Test weither or not the remainder is 0 and decide
if ( modulo == 0 ):
    print('a is even')
elif ( modulo == 1  ):
    print('a is odd' )
else:
    print('a is not an integer' )

a is not an integer

The `if():...else:` decision structure can have several conditions:

In [ ]:
# assign a value to the number to be tested
a = -4

# compute the remainder of the integer division a/2
modulo = a%2

# Test weither or not the remainder is 0 and negative of positive
if   ( modulo == 0 and a < 0 ):
    print('a is even and negative')

elif ( modulo == 0 and a > 0 ):
    print('a is even and positive')
    
elif ( modulo == 1 and a < 0  ):
    print('a is odd and negative' )

elif ( modulo == 1 and a > 0  ):
    print('a is odd and positive' )  

else:
    print('a is not an integer' )

a is even and negative

### ***Iteration*** : 

a statement or block is executed until operations have been applied to every element of a collection or the program reaches a certain state. In the example below we use a `for:` loop to iterate through a list of number. The `for` statement must ends with `:`. The following instructions must be indented.

In [ ]:
for x in [1,2,3,4,5,6,7,8,9]:
    p = x**2 - x + 41
    print(p)

41
43
47
53
61
71
83
97
113

In [ ]:
L = [1,2,3,4,5,6,7,8,9]
for x in L:
    p = x**2 - x + 41
    print(p)

41
43
47
53
61
71
83
97
113

> iterate using indexing

In [ ]:
for x in range(1,len(L)):
    p = x**2 - x + 41
    print(p)

41
43
47
53
61
71
83
97

> Does work as well with tuples

In [ ]:
L = (1,2,3,4,5,6,7,8,9)
for x in L:
    p = x**2 - x + 41
    print(p)

41
43
47
53
61
71
83
97
113

##### Exercise 1.5 : sum and product using  `for` construct <hr style="border:1px solid grey">
1. Using a `for` loop perform the sum: $s=\sum_{i=1}^ni$ with $n=100$
2. Compare to the `python` intrinsic function: `sum()`
3. Using a `for` loop perform the product: $p=\prod_{i=1}^ni$ with $n=10$
4. Compare with the `numpy` function `prod()`

<span style="color:red">**solution :**</span>

In [ ]:
s = 0
for i in range(1,101):
    s = s + i
    
print(s)
print(sum(range(101)))

5050
5050

In [ ]:
from numpy import prod

p = 1
for i in range(1,11):
    p = p * i
    
print(p)
print(prod(range(1,11)))

3628800
3628800

In [ ]:
#solution avec les compréhensions de listes (Julien B.)
liste_1 = [i+1 for i in range(100)]
print(liste_1)
print(sum(liste_1))
from numpy import prod
liste_2 = [i+1 for i in range(10)]
print(liste_2)
print(prod(liste_2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
5050
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3628800

<hr style="border:1px solid grey">

##### Exercise 1.6 : factorial using `for` construct <hr style="border:1px solid grey">


The factorial of a number $n\in\mathbb{N}_0$ is given by: $n!=1\times 2\times\cdots \times(n-1)\times n$ ; by convention $0!=1$.
1. Using a `for:` construct compute the factorial of a number $n=14$
2. Compare to the `numpy.math` function `factorial`

In [ ]:
import numpy
numpy.math.factorial(14)

87178291200

<span style="color:red">**solution :**</span>

In [ ]:
n = 14

fact = 1
for i in range(1,n+1):
    fact = fact*i

print(fact)

87178291200

<hr style="border:1px solid grey">

##### Exercice 1.7 : `if` construct <hr style="border:1px solid grey">
Given a wave length (in nm) $x\in[10,10^5]$, print the range it falls into:
> UV for $x\in[10,390[$

> visible for $x\in[390,750[$

> IR for $x\in[750,10^5[$

The wavelength must be given by the user using the function `input()` ; an example is given below:
<hr style="border:1px solid grey">

In [ ]:
# Ask for some input value and store in x
x = input('Give a wavelength in the range [10,10^5[ nm : ')

# By default input() function output a string 
print(x,type(x))

# You need then to convert (to float in this case)
x = float(x)
print(x,type(x))

Give a wavelength in the range [10,10^5[ nm : 78
78 <class 'str'>
78.0 <class 'float'>

<span style="color:red">**solution :**</span>

In [ ]:
x = input('Give a wavelength in the range [10,10^5[ nm : ')
x = float(x)

if ( x >= 10 and x < 390 ):
    print('UV')
elif ( x >= 390 and x < 750 ):
    print('visible')
elif ( x >= 750 and x < 1e5 ):
    print('IR')
else:
    print('wrong value')

Give a wavelength in the range [10,10^5[ nm : 78
UV

<hr style="border:1px solid grey">

##### Exercice 1.8 : roots of 2nd order polynomial using `if` construct <hr style="border:1px solid grey">

Write a program to solve for the following quadratic function: $ ax^2+bx+c=0$
1. Compute the discriminant $\Delta= b^2-4ac$
2. Depending on the values of $\Delta$ compute the roots:
\begin{eqnarray}
\mathrm{if}\ \Delta > 0 &:& x_{\pm} = \frac{-b \pm \sqrt{\Delta}}{2a} \\
\mathrm{if}\ \Delta = 0 &:& x_{+} = x_{-} = -\frac{b}{2a} \\
\mathrm{if}\ \Delta < 0 &:& z_{\pm} = \frac{-b \pm i\sqrt{-\Delta}}{2a} \\
\end{eqnarray}
3. Print the discriminant and the roots values.
4. Check that, given these roots $ax^2+bx+c=0$ 

> First write down on your paper an algorithm. Then code it in python. 

> To test your code, you can use the 3 following sets of parameters: 

>$(a = 1 ; b = -1 ; c = -1)$

> $(a = 1 ; b = -1 ; c =  1)$

>$(a = 1 ; b =  2 ; c =  1)$

In [ ]:
from numpy import sqrt

a = 1 ; b = -1 ; c = -1
#a = 1 ; b = -1 ; c =  1
#a = 1 ; b =  2 ; c =  1

<span style="color:red">**solution :**</span>

In [ ]:
#a = 1 ; b = -1 ; c = -1
#a = 1 ; b = -1 ; c =  1
a = 1 ; b =  2 ; c =  1

delta = b**2 - 4*a*c

if ( delta > 0 ):
    xp = (-b + sqrt(delta))/(2*a)
    xm = (-b - sqrt(delta))/(2*a)
    print('There are 2 real roots:')
    print('x_p =',xp)
    print('x_m =',xm)

if ( delta == 0 ):
    xp = -b/(2*a)
    xm = xp
    print('There is 1 real root:')
    print('x =',xp)
    
if ( delta < 0 ):
    xp = (-b + sqrt(-delta)*1j)/(2*a)
    xm = (-b - sqrt(-delta)*1j)/(2*a)
    print('There are 2 imaginary roots:')
    print('z_p =',xp)
    print('z_m =',xm)

print('ax^2+ bx + c = 0 ?', a*xp**2 + b*xp + c)
print('ax^2+ bx + c = 0 ?', a*xm**2 + b*xm + c)

There is 1 real root:
x = -1.0
ax^2+ bx + c = 0 ? 0.0
ax^2+ bx + c = 0 ? 0.0

<hr style="border:1px solid grey">

### ***Repeat with decision : while***

In [ ]:
a =  0
b = -10
while (a < 9 and b < 0):
    print(a, b)
    a = a + 1
    b = b + 2

0 -10
1 -8
2 -6
3 -4
4 -2

##### Exercice 1.9 : `while` struct<hr style="border:1px solid grey">

> Improve the code of ***Exercice 1.6*** by repeating the input if $x\notin[10,10^5[$

In [ ]:
x = input('Give a wavelength in the range [10,10^5[ nm : ')
x = float(x)

if ( x >= 10 and x < 390 ):
    print('UV')
elif ( x >= 390 and x < 750 ):
    print('visible')
elif ( x >= 750 and x < 1e5 ):
    print('IR')
else:
    print('wrong value')

Give a wavelength in the range [10,10^5[ nm : 78
UV

<span style="color:red">**solution :**</span>

In [ ]:
answer = False
while( answer == False ):
    x = input('Give a wavelength in the range [10,10^5[ nm  : ')
    x = float(x)

    if ( x >= 10 and x < 390 ):
        answer = True
        print('UV')
    elif ( x >= 390 and x < 750 ):
        answer = True
        print('visible')
    elif ( x >= 750 and x < 1e5 ):
        answer = True
        print('IR')
    else:
        answer = False
        print('wrong value : do it again!')

Give a wavelength in the range [10,10^5[ nm  : 89
UV

<hr style="border:1px solid grey">

##### Exercice 1.10 : iterative square-root using `while` construct<hr style="border:1px solid grey">

> Given a number $S$ the square-root $\sqrt{S}$ can be computed using the following recursion:
\begin{eqnarray}
x_{n+1} &=& \frac{1}{2}\left(x_n + \frac{S}{x_n}\right)\\
\mathrm{such\ \ that}\ \ \sqrt{S} &=& \lim_{n\rightarrow\infty}x_n
\end{eqnarray}
> with $x_0$ an estimate of $\sqrt{S}$. The recursion should stop when the absolute difference between
the current iterate and previous one is below some threshold value $\epsilon$, that is, when:
$|x_{n+1}-x_{n}| < \mathrm{\epsilon}$.

> Test your algorithm for $S=3$ with $x_0=1.5$ and $\epsilon=10^{-6}$. Print the number of iterations.

<span style="color:red">**solution :**</span>

In [ ]:
from numpy import sqrt

S = 3
epsilon = 1e-6
error   = 10*epsilon
x_old   = 1.5 
while ( error > epsilon ):
    x = 0.5 * (x_old + S/x_old)
    error = abs(x_old - x)
    x_old = x


print('square-root of',S,'=',x,'vs numpy value =',sqrt(S))

square-root of 3 = 1.7320508075688772 vs numpy value = 1.7320508075688772

<hr style="border:1px solid grey">